<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqupt.weixin.app.dao.TopicMapper">
    <insert id="addTopic" parameterType="Topic" >
        insert into topic (topic,topic_body,open_id,class_id) values
        (#{topic},#{topicBody},#{openId},#{classId})
    </insert>
    <select id="findClassByOpenId" parameterType="String" resultType="String">
        select class_id from students where open_id=#{openId}
    </select>
    <select id="findTopicByClass" parameterType="String" resultType="Topic">
        select * from topic where class_id=#{classId}
    </select>
    <insert id="insertTopicResult" parameterType="TopicResultVo">
        insert into topic_result (topic,open_id,content) values (#{topic},#{openId},#{content});
    </insert>
    <select id="findTopicResult" resultType="TopicResultVo">
        select * from topic_result;
    </select>
    <insert id="addScore" parameterType="Score">
        insert into stu_course (open_id,topic,score,review) values (#{openId},#{topic},#{score},#{review})
    </insert>
    <select id="isExist" parameterType="Teacher" resultType="Teacher">
        select teach_name from teachers where open_id=#{openId}
    </select>
    <select id="checkResultInfo"  parameterType="Score" resultType="Score">
        select * from stu_course where open_id=#{openId}
    </select>
    <select id="isTeach" parameterType="String" resultType="Teacher">
        select * from teachers where open_id=#{openId}
    </select>
</mapper>